* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-family: "Montserrat", serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 20px 0px;
  background-color: #ffffff;
  position: relative;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__img {
  width: 190px;
  height: 55px;
  position: relative;
  margin: 0px 20px 0px 0px;
  position: relative;
  z-index: 2;
}

.header__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 25px 0px 0px;
}

.header__items li {
  margin: 0px 20px 0px 0px;
  position: relative;
}

.header__items li.active a {
  position: relative;
}

.header__items li.active a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #666666;
}

.header__items li:last-child {
  margin: 0;
}

.header__items li a {
  font-size: 20px;
  color: #666666;
}

.header__cart {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
}

.header__cart img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.header__cart span {
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  padding: 3px 5px;
  border-radius: 50%;
}

.header__menu {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.header__menu span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #666666;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu span:first-child {
  top: 0;
}

.header__menu span:nth-child(2) {
  width: 70%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__menu span:last-child {
  bottom: 0;
}

.header__menu.active span:first-child {
  top: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu.active span:nth-child(2) {
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.header__menu.active span:last-child {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  background-color: #000000;
  padding: 35px 0px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__items li {
  margin: 0px 30px 0px 0px;
  position: relative;
}

.footer__items li::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}

.footer__items li:last-child {
  margin: 0;
}

.footer__items li:last-child::before {
  display: none;
}

.footer__items li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  margin: 0px 0px 40px 0px;
}

.title h1 {
  font-size: clamp(2.1875rem, 1.7681rem + 1.9737vw, 3.125rem);
  text-align: center;
  text-transform: uppercase;
}

.home-page .hero {
  padding: 80px 0px 50px 0px;
}

.home-page .hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .hero__title {
  margin: 0px 0px 20px 0px;
}

.home-page .hero__title h1 {
  text-align: center;
  font-size: clamp(1.75rem, 1.5705rem + 0.8974vw, 2.1875rem);
  text-transform: uppercase;
  color: #666666;
}

.home-page .hero__text p {
  font-size: clamp(1rem, 0.9487rem + 0.2564vw, 1.125rem);
  text-align: center;
  color: #666666;
}

.home-page .directories {
  padding: 50px 0px 30px 0px;
}

.home-page .directories__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.home-page .directories__item {
  cursor: pointer;
  position: relative;
}

.home-page .directories__item:hover .directories-item__text {
  opacity: 1;
  visibility: visible;
}

.home-page .directories-item__img {
  width: 100%;
  height: 0;
  padding: 0px 0px 100% 0px;
  position: relative;
}

.home-page .directories-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page .directories-item__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.home-page .directories-item__text p {
  font-size: clamp(1rem, 0.81rem + 0.64vw, 1.25rem);
  color: #ffffff;
  margin: 0px 0px 5px 0px;
  text-align: center;
}

.home-page .prints {
  padding: 80px 0px 60px 0px;
}

.home-page .prints__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.home-page .prints__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

.home-page .prints__img {
  width: 100%;
  height: 0;
  padding: 0px 0px 60% 0px;
  position: relative;
}

.home-page .prints__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page .prints-content__title {
  margin: 0px 0px 20px 0px;
}

.home-page .prints-content__title h1 {
  font-size: clamp(1.75rem, 1.5346rem + 1.0769vw, 2.1875rem);
  color: #000000;
}

.home-page .prints-content__text {
  margin: 0px 0px 25px 0px;
}

.home-page .prints-content__text p {
  font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.0625rem);
  margin: 0px 0px 6px 0px;
  color: #666666;
}

.home-page .prints-content__text p:last-child {
  margin: 0;
}

.home-page .prints-content__link a {
  display: inline-block;
  padding: 15px 20px;
  font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.0625rem);
  font-weight: 700;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home-page .prints-content__link a:hover {
  color: #ffffff;
  background-color: #000000;
}

.prints-page .description {
  padding: 80px 0px 50px 0px;
}

.prints-page .description__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5.5fr 4.5fr;
  grid-template-columns: 5.5fr 4.5fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.prints-page .description__img {
  width: 100%;
  height: 0;
  padding: 0px 0px 74% 0px;
  position: relative;
}

.prints-page .description__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prints-page .description-content__title {
  margin: 0px 0px 25px 0px;
}

.prints-page .description-content__title h1 {
  text-align: left;
}

.prints-page .description-content__text > * {
  font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.0625rem);
  margin: 0px 0px 15px 0px;
}

.prints-page .description-content__text > *:last-child {
  margin: 0;
}

.prints-page .description-content__text > * li {
  margin: 0px 0px 8px 0px;
  list-style-type: disc;
}

.prints-page .description-content__text > * li:last-child {
  margin: 0;
}

.prints-page .description-content__text ul {
  padding: 0px 0px 0px 20px;
}

.prints-page .products {
  padding: 80px 0px 50px 0px;
}

.prints-page .products__title {
  margin: 0px 0px 40px 0px;
}

.prints-page .products__title h1 {
  text-transform: uppercase;
  font-size: clamp(1.75rem, 1.5346rem + 1.0769vw, 2.1875rem);
  text-align: center;
}

.prints-page .products__categories {
  padding: 0px 0px 50px 0px;
  margin: 0px 0px 40px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prints-page .products__categories::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #666666;
  opacity: 0.3;
}

.prints-page .products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.prints-page .products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.prints-page .products-categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.prints-page .products-categories__items li {
  margin: 0px 30px 0px 0px;
  position: relative;
}

.prints-page .products-categories__items li a {
  color: #000000;
  font-size: clamp(1rem, 0.9692rem + 0.1538vw, 1.0625rem);
  text-wrap: nowrap;
}

.prints-page .products-categories__items li.active a {
  text-decoration: underline;
}

.prints-page .products-categories__items li::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0.5px;
  height: 100%;
  background-color: #666666;
}

.prints-page .products-categories__items li:last-child {
  margin: 0;
}

.prints-page .products-categories__items li:last-child::before {
  display: none;
}

.prints-page .products-item__img {
  padding: 0px 0px 130% 0px;
  height: 0;
  margin: 0px 0px 20px 0px;
  position: relative;
}

.prints-page .products-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.prints-page .products-item__title {
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}

.prints-page .products-item__title a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1.0625rem, 0.3541rem + 1.4778vw, 1.25rem);
  color: #000000;
}

.prints-page .products-item__price {
  margin: 0 auto;
}

.prints-page .products-item__price span {
  display: block;
  text-align: center;
  color: #666666;
  font-size: clamp(1.0625rem, 0.5902rem + 0.9852vw, 1.1875rem);
}

.bio-page .bio {
  padding: 80px 0px 50px 0px;
}

.bio-page .bio__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.bio-page .bio__img {
  width: 100%;
}

.bio-page .bio__img img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bio-page .bio__content p {
  font-size: 16px;
  margin: 0px 0px 20px 0px;
  color: #666666;
}

.bio-page .bio__content p:last-child {
  margin: 0;
}

.bio-page .exhibitions {
  padding: 50px 0px;
}

.bio-page .exhibitions__title {
  margin: 0px 0px 30px 0px;
}

.bio-page .exhibitions__title h1 {
  text-transform: uppercase;
  font-size: clamp(1.75rem, 1.5346rem + 1.0769vw, 2.1875rem);
  text-align: center;
}

.bio-page .exhibitions__body {
  max-width: 800px;
  margin: 0 auto;
}

.bio-page .exhibitions__item {
  margin: 0px 0px 15px 0px;
  font-size: 16px;
  color: #666666;
  position: relative;
  padding: 0px 0px 0px 40px;
}

.bio-page .exhibitions__item:last-child {
  margin: 0;
}

.bio-page .exhibitions__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  background: url("../img/bio/icons/01.png") center/contain no-repeat;
}

.bio-page .exhibitions__item a {
  color: #666666;
  text-decoration: underline;
}

.contacts-page .contacts {
  padding: 80px 0px 50px 0px;
}

.contacts-page .contacts__social {
  margin: 0px 0px 30px 0px;
}

.contacts-page .contacts__form {
  max-width: 450px;
  margin: 0 auto;
}

.contacts-page .contacts__form form {
  width: 100%;
  -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3176470588);
          box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3176470588);
  padding: 40px 20px;
}

.contacts-page .contacts-social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-page .contacts-social__item {
  margin: 0px 15px 0px 0px;
  width: 35px;
  height: 35px;
  position: relative;
}

.contacts-page .contacts-social__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts-page .contacts-social__item:last-child {
  margin: 0;
}

.contacts-page .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.contacts-page .form-group label {
  font-size: 16px;
  margin: 0px 0px 5px 0px;
  color: #666666;
}

.contacts-page .form-group input,
.contacts-page .form-group textarea {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid rgba(102, 102, 102, 0.2823529412);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 100%;
}

.contacts-page .form-group input:focus,
.contacts-page .form-group textarea:focus {
  -webkit-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.3176470588);
          box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.3176470588);
}

.contacts-page .form-group textarea {
  min-height: 100px;
}

.contacts-page .btn-send button {
  display: block;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-page .btn-send button:hover {
  background-color: #ffffff;
  color: #000000;
}

.product-page .product {
  padding: 80px 0px;
}

.product-page .product__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page .product__images {
  width: 40%;
  margin: 0px 30px 0px 0px;
}

.product-page .product__image {
  width: 100%;
  position: relative;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
}

.product-page .product__image img {
  aspect-ratio: 1/1.25;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.product-page .product__image img.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.product-page .product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-images__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  overflow: auto;
}

.product-page .product-images__item {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin: 0px 15px 0px 0px;
}

.product-page .product-images__item:last-child {
  margin: 0;
}

.product-page .product-images__item img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-page .product-content__title {
  margin: 0px 0px 20px 0px;
}

.product-page .product-content__title h1 {
  font-size: clamp(1.75rem, 1.5346rem + 1.0769vw, 2.1875rem);
  text-transform: uppercase;
}

.product-page .product-content__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 25px 0px;
}

.product-page .product-content__quantity label {
  font-size: 15px;
  color: #000000;
  margin: 0px 0px 5px 0px;
}

.product-page .product-content__quantity input {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid rgba(102, 102, 102, 0.2823529412);
  border-radius: 5px;
}

.product-page .product-content__button {
  margin: 0px 0px 20px 0px;
}

.product-page .product-content__button button {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-page .product-content__button button:hover {
  background-color: #000000;
  color: #ffffff;
}

.product-page .product-content__description {
  font-size: 16px;
  color: #666666;
  margin: 0px 0px 30px 0px;
}

.product-page .product-content__description > * {
  margin: 0px 0px 10px 0px;
}

.product-page .product-content__description > *:last-child {
  margin: 0;
}

.product-page .product-content__description ul {
  padding: 0px 0px 0px 20px;
}

.product-page .product-content__description li {
  list-style-type: disc;
}

.product-page .product-content__price {
  margin: 0px 0px 30px 0px;
}

.product-page .product-content__price p {
  font-size: 23px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.product-page .product-content__price span {
  font-size: 14px;
  color: hsl(0, 0%, 60%);
}

.product-page .product-content__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
}

.product-page .product-content__options span {
  margin: 0px 0px 10px 0px;
}

.product-page .product-content__options button {
  margin: 0px 0px 15px 0px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.product-page .product-content__options button.active {
  color: #ffffff;
  background-color: #000000;
}

.product-page .product-content__options button:hover {
  background-color: #000000;
  color: #ffffff;
}

.product-page .product-content__options button:last-child {
  margin: 0;
}

.cart-page .cart {
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-page .cart__title {
  margin: 0px 0px 25px 0px;
}

.cart-page .cart__title h1 {
  font-size: clamp(1.75rem, 1.5346rem + 1.0769vw, 2.1875rem);
  text-transform: uppercase;
}

.cart-page .cart__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 30px 0px;
}

.cart-page .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
  position: relative;
}

.cart-page .cart__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(102, 102, 102, 0.4196078431);
}

.cart-page .cart__checkout {
  width: 400px;
}

.cart-page .cart-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 130px;
  height: 130px;
  position: relative;
  margin: 0px 15px 0px 0px;
}

.cart-page .cart-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-page .cart-item__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page .cart-item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 20px 0px;
}

.cart-page .cart-item__info *:last-child {
  margin: 0;
}

.cart-page .cart-item__title {
  margin: 0px 0px 5px 0px;
}

.cart-page .cart-item__title a {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.cart-page .cart-item__subtitle {
  margin: 0px 0px 5px 0px;
}

.cart-page .cart-item__subtitle p {
  font-size: 16px;
  color: #666666;
}

.cart-page .cart-item__text span {
  font-size: 15px;
  color: rgb(195, 45, 56);
}

.cart-page .cart-item__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px 0px 0px;
}

.cart-page .cart-item__quantity button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 30px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cart-page .cart-item__quantity button:first-child {
  margin: 0px 6px 0px 0px;
}

.cart-page .cart-item__quantity button:hover {
  background-color: rgba(102, 102, 102, 0.1294117647);
}

.cart-page .cart-item__quantity input {
  font-size: 16px;
  width: 30px;
  text-align: center;
  margin: 0px 6px 0px 0px;
}

.cart-page .cart-item__price {
  margin: 0px 15px 0px 0px;
}

.cart-page .cart-item__price span {
  font-size: 20px;
}

.cart-page .cart-item__remove {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.cart-page .cart-item__remove span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  left: 0;
}

.cart-page .cart-item__remove span:first-child {
  top: 14.5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-page .cart-item__remove span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 14.5px;
}

.cart-page .cart-checkout__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 20px 0px;
}

.cart-page .cart-checkout__total p {
  margin: 0px 20px 0px 0px;
  font-size: 16px;
}

.cart-page .cart-checkout__total span {
  font-size: 20px;
}

.cart-page .cart-checkout__button button {
  display: block;
  width: 100%;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.cart-page .cart-checkout__button button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 970px) {
  .container {
    max-width: 800px;
  }

  .home-page .directories__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .home-page .prints__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .home-page .prints__content {
    max-width: none;
    margin: 0;
  }

  .prints-page .description__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .prints-page .description__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .prints-page .description__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bio-page .bio__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .bio-page .bio__img img {
    aspect-ratio: 1/0.8;
  }

  .product-page .product__images {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header.active::before {
    -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3176470588);
            box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3176470588);
  }

  .header__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__list.active {
    top: 0;
  }

  .header__items {
    margin: 0;
    padding: 120px 15px 20px 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__items li {
    margin: 0px 0px 15px 0px;
  }

  .header__items li a {
    font-size: clamp(1.25rem, 1.0263rem + 1.1186vw, 1.5625rem);
  }

  .header__cart {
    margin: 0px 25px 0px 0px;
  }

  .header__menu {
    display: block;
  }

  .container {
    max-width: none;
  }

  body.header-lock {
    overflow: hidden;
  }

  .prints-page .products__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .bio-page .bio__content p {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .bio-page .exhibitions__item {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .product-page .product__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-page .product__images {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .product-page .product__image img {
    aspect-ratio: 1/0.7;
  }

  .product-page .product-content__description > * {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .cart-page .cart-item__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .cart-page .cart-item__info {
    padding: 0px 15px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
  }

  .cart-page .cart-item__title a {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .cart-page .cart-item__subtitle p {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .cart-page .cart-item__text span {
    font-size: clamp(0.9375rem, 0.8928rem + 0.2237vw, 1rem);
  }

  .cart-page .cart-item__quantity {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .cart-page .cart-item__quantity input {
    font-size: clamp(1rem, 0.9553rem + 0.2237vw, 1.0625rem);
  }

  .cart-page .cart-item__price {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0;
  }

  .cart-page .cart-item__price span {
    display: inline-block;
    float: right;
    font-size: clamp(1.09375rem, 0.9819rem + 0.5593vw, 1.25rem);
  }

  .cart-page .cart-item__remove {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 600px) {
  .home-page .directories__body {
    gap: 20px;
  }

  .prints-page .products__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .prints-page .products-item__title a {
    font-size: clamp(1.0625rem, 0.4911rem + 2.8571vw, 1.5625rem);
  }

  .prints-page .products-item__price span {
    font-size: clamp(1.0625rem, 0.7054rem + 1.7857vw, 1.375rem);
  }

  .cart-page .cart__checkout {
    width: 100%;
  }
}

@media (max-width: 600px) and (max-width: 600px) {
  .prints-page .products__items {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .home-page .directories__body {
    gap: 10px;
  }
}

@media (max-width: 475px) {
  .header__img {
    width: 130px;
    height: 40px;
  }

  .header__cart {
    width: 30px;
    height: 30px;
    margin: 0px 20px 0px 0px;
  }

  .header__menu {
    width: 30px;
    height: 25px;
  }

  .header__menu.active span:first-child {
    top: 11.5px;
  }

  .header__menu.active span:last-child {
    bottom: 11.5px;
  }

  .home-page .directories__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .home-page .directories-item__text p {
    font-size: clamp(1rem, 0.4839rem + 2.5806vw, 1.25rem);
  }

  .cart-page .cart-item__img {
    width: 90px;
    height: 90px;
  }

  .cart-page .cart-item__img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 425px) {
  .product-page .product__image img {
    aspect-ratio: 1/1;
  }
}

@media (max-width: 350px) {
  .cart-page .cart-item__quantity {
    margin: 0px 10px 0px 0px;
  }

  .cart-page .cart-item__quantity button {
    font-size: 20px;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }

  .cart-page .cart-item__quantity input {
    width: 25px;
  }
}

.webp .bio-page .exhibitions__item::before { background: url(../img/bio/icons/01.webp) center/contain no-repeat; }